body {
    height: 100%;
    width: 100%;

    background-color:#f7effc;
}

.wrapper {
    top: 0;
    display: fixed;
}

.logo {
    text-align: center;
    font-size: 42px;
    text-shadow: 3px 3px white;
}

.logo:hover {
    cursor: pointer;
}

.menu_top {
    vertical-align: top;
    text-align: center;
}

.menu_top ul {
    list-style: none;
}

.menu_top li {
    float: left;
    margin: 10px;
}

.menu_bottom ul {
    list-style: none;
}

.menu_bottom li {
    float: left;
    margin: 10px;
}



.menu_bottom {
    text-align: center;
}




li:hover {
    cursor: pointer;
}


.images {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu_top ul {
    list-style: none;
    display: inline-block;
    background-color: rgb(247, 178, 224);
    border: 4px solid black;
    box-shadow: 3px 3px rgb(247, 178, 224);
    margin: 0;
}

.menu_bottom ul {
    background-color: white;
    list-style: none;
    display: inline-block;
    border: 4px solid black;
    box-shadow: 3px 3px white;
    margin: 0;
}


.images {
    margin: 0 auto;
    height: 100%;
    width: 1200px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.images li {
    background-color: white;
}

.mst {
    display: inline-block;
    width: 8px;
    height:16px;
    margin-left: 170px;
    margin-right: 20px;
    background-color: yellow;
    
}

h2 {
    display: inline-block;
    margin-right: 30px;
}


img {
    height: 230px;
    width: 230px;
    cursor: pointer;
}



ul {
    list-style: none;
}

.images li {
    text-align: center;
    margin: 10px;
    border: 3px solid black;
    box-shadow: lightgray 2px 2px 0px 0px;
    animation-name: fadeout;
    animation-duration: 0.5s;
    
}

@keyframes fadein {
    from{box-shadow: lightgray 2px 2px 0px 0px;}
    to{box-shadow: black 3px 3px 0px 0px;}
}

@keyframes fadeout {
    from{box-shadow: black 3px 3px 0px 0px;}
    to{box-shadow: lightgray 2px 2px 0px 0px;}
}

.images li:hover {
    animation-name: fadein;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}


.brightmoon {
    margin-top: 150px;
    margin-left: 150px;
    width: 300px;
    height: 50px;
}

.pt {
    display: inline-block;
}

.ptNew {
    display: inline-block;
    font-weight: bold;
    font-size: 20pt;
    margin-right: 30px;
    margin-top: 150px;
}

.footer {
    border-top: 3px solid black;
    margin-top: 50px;
    background-color: #f4f4f4;
    height: 320px;
    width: 100%;
    text-align: center;
}


.footer p {
    margin: 0;
}


.footer1{
    display: inline-block;
    width: 100%;
    height: 40px;
}



.footer2 h2 {
    margin: 0 50px 20px 50px;
    font-size: 22px;
}

.footer2 ul {
    margin: 11px;
}

.footer2 li {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.footer2 {
    display: inline-block;
    text-align: left;
}

.footer3 {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
    text-align: left;
}

.footer3 li {
    list-style: none;
}

.footer3 h2 {
    font-size: 15px;
}

.footer3 span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}


.num {
    font-size: 25px;
    font-weight: 900;
}

.footer3 ul{
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0;
}

.off {
    color: red;
    font-weight: 600;
    font-size: 12px;
}

.footer4 {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
    text-align: left;
}

.footer4 h2 {
    font-size: 15px;
}

.footer4 span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}

.footer4 ul{
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0;
}