body {
    height: 100%;
    width: 100%;

    background-color:#f7effc;
}

.images {
    margin: 0 auto;
    height: 100%;
    width: 1200px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.images li {
    background-color: white;
}

.mst {
    display: inline-block;
    width: 8px;
    height:16px;
    margin-left: 170px;
    margin-right: 20px;
    background-color: yellow;
    
}

h2 {
    display: inline-block;
    margin-right: 30px;
}


img {
    height: 230px;
    width: 230px;
}



ul {
    list-style: none;
}

.images li {
    text-align: center;
    border: 3px solid black;
    margin: 10px;
    box-shadow: lightgray 2px 2px 0px 0px;
}

.images li:hover {
    box-shadow: black 2px 2px 0px 0px;
}

.brightmoon {
    margin-top: 150px;
    margin-left: 150px;
    width: 300px;
    height: 50px;
}

.pt {
    display: inline-block;
}

.ptNew {
    display: inline-block;
    font-weight: bold;
    font-size: 20pt;
    margin-right: 30px;
    margin-top: 150px;
}

.footer {
    border-top: 3px solid black;
    margin-top: 50px;
    background-color: #f4f4f4;
    height: 320px;
    width: 100%;
}

.footer1{
    display: inline-block;
    width: 100%;
    height: 40px;
}



.footer2 h2 {
    margin: 0 50px 20px 50px;
    font-size: 22px;
}

.footer2 ul {
    margin: 11px;
}

.footer2 li {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

.footer2 {
    display: inline-block;
}

.footer3 {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
}

.footer3 li {
    list-style: none;
}

.footer3 h2 {
    font-size: 15px;
}

.footer3 span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}


.num {
    font-size: 25px;
    font-weight: 900;
}

.footer3 ul{
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0;
}

.off {
    color: red;
    font-weight: 600;
    font-size: 12px;
}

.footer4 {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
}

.footer4 h2 {
    font-size: 15px;
}

.footer4 span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}

.footer4 ul{
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0;
}